<div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-6">
      <div class="d-flex bg-secondary p-2 mb-1 text-light">
        <div class="fs-2">Post List</div>
        <button class="btn btn-primary ms-auto" routerLink="/post/new">
          Add New
        </button>
      </div>
      <div
        class="bg-dark-subtle p-4 mb-1 rounded"
        *ngFor="let item of postList"
      >
        <div class="d-flex fs-3">
          Id: {{ item?.id }}
          <button
            class="btn ms-auto c-pointer text-primary"
            (click)="editPost(item)"
          >
            <i class="bi bi-pencil"></i>
          </button>
        </div>
        <div class="fs-4 text-capitalize">Title: {{ item?.title }}</div>
        <div class="fs-5 text-capitalize">Body: {{ item?.body }}</div>
      </div>
    </div>
  </div>
</div>
