<div class="row justify-content-center">
  <div class="col-5 mt-1">
    <h2 class="text-center" *ngIf="!myForm.get('id')?.value">Add a new Post</h2>
    <h2 class="text-center" *ngIf="myForm.get('id')?.value">Update Post</h2>
    <div class="bg-dark-subtle p-4 rounded">
      <form name="myForm" [formGroup]="myForm">
        <div class="mb-3" *ngIf="myForm.get('id')?.value">
          <label for="id" class="form-label">Id</label>
          <input
            type="text"
            name="id"
            id="id"
            class="form-control"
            formControlName="id"
            readonly
          />
        </div>
        <div class="mb-3">
          <label for="userId" class="form-label">userId</label>
          <input
            type="text"
            name="userId"
            id="userId"
            class="form-control"
            formControlName="userId"
            readonly
          />
        </div>

        <div class="mb-3">
          <label class="form-label">Title</label>
          <input type="text" class="form-control" formControlName="title" />
          <div
            *ngIf="
              myForm.get('title')?.invalid &&
              (myForm.get('title')?.dirty || myForm.get('title')?.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="myForm.get('title')?.errors?.['required']"
            >
              Title field is required.
            </small>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Body</label>
          <textarea
            type="text"
            rows="3"
            class="form-control"
            formControlName="body"
          ></textarea>
          <div
            *ngIf="
              myForm.get('body')?.invalid &&
              (myForm.get('body')?.dirty || myForm.get('body')?.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="myForm.get('body')?.errors?.['required']"
            >
              body field is required.
            </small>
          </div>
        </div>
        <div class="d-flex">
          <button class="btn btn-secondary" (click)="previousState()">
            Back
          </button>
          <button
            type="submit"
            class="btn btn-primary ms-auto"
            [disabled]="myForm.invalid"
            (click)="addPost()"
          >
            <span *ngIf="!myForm.get('id')?.value">Add Post</span>
            <span *ngIf="myForm.get('id')?.value">Update Post</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
