<div class="row justify-content-center mb-1">
  <div class="col-11 col-md-6 rounded p-1">
    <div class="fs-2 bg-dark text-light p-1 rounded">Author Details</div>
    <div class="d-flex bg-dark-subtle p-4 rounded">
      <div class="me-2">
        <span class="bg-dark text-light fs-3 px-2" style="border-radius: 50%">{{
          bookStore.author?.author?.charAt(0)
        }}</span>
      </div>

      <div>
        <div class="fs-3">
          <strong>{{ bookStore.author?.author }}</strong>
        </div>
        <div class="fs-6 text-capitalize">
          {{ bookStore.author?.birthPlace }}
        </div>
        <div class="fs-6 text-capitalize">
          {{ bookStore.author?.birthday }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-11 col-md-6 p-1">
    <div
      class="bg-dark text-light rounded p-1 mb-1 d-flex justify-content-between align-items-center"
    >
      <div class="fs-2">Books Details</div>
      <!-- <div class="dropdown">
        <button
          class="btn btn-dark dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Sort By
        </button>
        <ul class="dropdown-menu">
          <li>
            <div class="dropdown-item" (click)="sortByTitleHandler(true)">
              ASC Title
            </div>
          </li>
          <li>
            <div class="dropdown-item" (click)="sortByTitleHandler(false)">
              Desc Title
            </div>
          </li>
          <li>
            <div class="dropdown-item" (click)="sortByPublishDateHandler(true)">
              ASC PublishDate
            </div>
          </li>
          <li>
            <div
              class="dropdown-item"
              (click)="sortByPublishDateHandler(false)"
            >
              DESC PublishDate
            </div>
          </li>
        </ul>
      </div> -->
    </div>

    <div class="row justify-content-center">
      <div
        class="col-12 col-md-6"
        *ngFor="let item of bookStore?.author?.books; let i = index"
      >
        <div class="mb-3 bg-light border-bottom pb-1">
          <div>
            <img
              [src]="item.imageUrl"
              style="height: 300px; width: 100%; object-fit: cover"
            />
          </div>
          <div class="mt-1 d-flex justify-content-between">
            <a
              [href]="item.purchaseLink"
              target="_blank"
              class="btn btn-link p-0 fs-5"
              >{{ item.title }}</a
            >

            <div class="fs-5">
              <span class="badge bg-secondary">{{ item.PublishDate }}</span>
            </div>
          </div>
          <!-- <div>
            <input
              class="btn btn-sm btn-link ps-0"
              type="button"
              value="Edit"
              (click)="editBookHandler(i, item)"
            />
            <input
              class="btn btn-sm btn-link text-danger ps-0"
              type="button"
              value="Delete"
              (click)="deleteBookHandler(i, item)"
            />
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
